ACTION=="add", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="b812", RUN+="/usr/local/astrostation/bin/as_ap %k"
ACTION=="remove", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="b812", RUN+="/usr/local/astrostation/bin/as_ap %k"
KERNEL=="sd[a-z]", SUBSYSTEM=="block", ACTION=="change", RUN+="/usr/bin/systemctl --no-block start as_sd.service"
ACTION=="add", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="c811", RUN+="/usr/local/astrostation/bin/as_ap %k"
ACTION=="remove", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="c811", RUN+="/usr/local/astrostation/bin/as_ap %k"
ACTION=="add", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="c820", RUN+="/usr/local/astrostation/bin/as_ap %k"
ACTION=="remove", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="0bda", ENV{ID_MODEL_ID}=="c820", RUN+="/usr/local/astrostation/bin/as_ap %k"
ACTION=="add", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="2357", ENV{ID_MODEL_ID}=="*", RUN+="/usr/local/astrostation/bin/as_ap %k"
ACTION=="remove", SUBSYSTEM=="net", ENV{ID_VENDOR_ID}=="2357", ENV{ID_MODEL_ID}=="*", RUN+="/usr/local/astrostation/bin/as_ap %k"
